/* ==========================================================================
   全局顶部
   ========================================================================== */
.Top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
    color: #666;
}
/*顶部右侧导航*/
.TopNav a{
    color: #666;
}
.TopNav li{
    float: left;
}
.TopNav li + li{
    cursor: pointer;
}
.TopNav li + li:before{
    content: "|";
}
.TopMobile:hover:before, .TopNav2:hover:before{
    color: #fff;
}
.TopNav li a, .TopNav li.TopLogin{
    padding: 0 15px;
}
.TopNav li.TopLogin a{
    padding: 0 2px;
}
.TopNav li a:hover, .TopLogin a+a{
    color: #c81623;
}

/*三角形*/
.triangle{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.triangle1,.triangle2{
    width: 0;
    height: 0;
    border:5px solid;
}
.triangle1{
    border-color: #666 transparent transparent transparent;
    top: 3px;
}
.triangle2{
    border-color: #f1f1f1 transparent transparent transparent;
    top: 2px;
}

/*顶部地区选择*/
.TopArea{
    padding: 0 10px;
    cursor: pointer;
    height: 30px;
}
.TopLine{
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    z-index: 3;
    display: none;
}
.TopAreaBox{
    width: 312px;
}
.TopAreaBox li{
    float: left;
    width: 60px;
    padding: 2px 0;
    line-height: 24px;
}
.TopAreaBox li a{
    padding: 5px 8px;
    color: #666;
}

/*手机*/
.TopMobileBox{
    width: 120px;
    font-size: 14px;
    color: #c81623;
}
/*顶部隐藏导航*/
.TopNavBox{
    right: -1px;
    width: 715px;
    display: none;
    z-index: 2;
}
.TopNavBox ul{
    float: left;
    width: 140px;
    padding: 0 25px;
    height: 150px;
}
.TopNavBox ul + ul{
    border-left: 1px dashed #ddd;
}
.TopNavBox ul i{
    margin: 0 5px;
}
.TopNavBox ul a{
    display: block;
    padding:0 0 0 15px;
    margin-left: 15px;
    background: url("../images/dian.jpg") no-repeat left center;
}

/*顶部隐藏内容公用*/
.TopBox{
    left: -1px;
    top: 30px;
    z-index: 2;
    display: none;
}
.TopArea, .TopNav li{
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.TopArea:hover ,.TopMobile:hover ,.TopNav2:hover{
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.TopAreaBox, .TopMobileBox , .TopNavBox{
    border: 1px solid #dddddd;
    background: #fff;
}
.TopAreaBox li a:hover{
    background: #c81623;
    color: #fff;
}
.TopLine{
    background: #fff;
}
.TopArea:hover .TopAreaBox, .TopArea:hover .TopLine , .TopMobile:hover .TopMobileBox , .TopMobile:hover .TopLine , .TopNav2:hover .TopNavBox ,.TopNav2:hover .TopLine{
    display: block;
}
.TopArea:hover .triangle2, .TopNav li:hover .triangle2{
    border-color: #fff transparent transparent transparent;
}
.TopArea:hover .triangle, .TopNav li:hover .triangle{
    transform:rotate(180deg);
}
/* ==========================================================================
   全局LOGO 搜索 购物车
   ========================================================================== */
.logo img{
    width: 195px;
    height: 70px;
}
/*搜索*/
.search{
    margin-left: 150px;
}
.search input{
    float: left;
}
.search input[type="text"]{
    width: 458px;
    height: 36px;
    border: 2px solid #b61d1d;
    line-height: 36px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
}
.search input[type="submit"]{
    width: 80px;
    height: 36px;
    background: #b61d1d;
    color: #fff;
    font-size: 14px;
}
/*购物车*/
.shopping-no{
    color: #666;
}
.shopping-cart{
    width: 140px;
    line-height: 36px;
    border: 1px solid #dfdfdf;
    background: #f9f9f9;
    margin-right: 65px;
    cursor: pointer;
    padding: 0 10px;
}
.shopping-cart i.fa-shopping-cart{
    color: #c81623;
    margin: 0 10px;
}
.shopping-cart i{
    color: #666666;
}
.shopping-cart a{
    color: #666;
}
.shopping-cart a:hover{
    color: #c81623;
}
.shopping-cart i.s-count{
    left: 115px;
    top: -5px;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
    padding: 1px 4px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    font-style: normal;
}
.shopping-cart-list{
    color: #666;
}
.shopping-cart-list p{
    font-weight: bold;
}
.s-line{
    width: 100%;
    height: 5px;
    background: #fff;
    bottom: -2px;
    left: 0;
    z-index: 4;
    display: none;
}
.shopping-cart-box{
    width: 310px;
    background: #fff;
    border: 1px solid #ddd;
    right: -1px;
    box-shadow: 0 0 3px #bbb;
    z-index: 3;
    display: none;
}
.shopping-cart:hover{
    box-shadow: 0 0 3px #bbb;
    background: #fff;
    border: 1px solid #ddd;
}
.shopping-cart:hover .s-line ,.shopping-cart:hover .shopping-cart-box{
    display: block;
}

/*商品列表*/
.slbox img{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}
.slbox a{
    color: #666;
}
.slbox a:hover{
    color: #c81623;
}
.slbox span{
    font-size: 12px;
    font-weight: bold;
}
.slbox + .slbox{
    border-top: 1px dashed #ccc;
}
.slbox:hover{
    background: #f5f5f5;
}
/*结算*/
.clearing{
    background: #f5f5f5;
    color: #808080;
    line-height: 29px!important;
}
.ClearingBtn{
    width: 68px;
    border-radius: 3px;
    background: #c81623;
    color: #fff!important;
    display: block;
    line-height: 29px;
}

/*热搜*/
.HotTags{
    margin-left: 150px;
}
.HotTags a{
    color: #c81623;
}
.HotTags a + a{
    color: #666666;
    margin: 0 3px;
}
.HotTags a:hover{
    color: #c81623;
}
